.inv-stats-main{
   margin-top: -5.5rem;
}
.inv-stats, .home-bar-m, .product-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    color: var(--title)
}
.inv-stats p:nth-child(2){
    color: var(--focus_subtitle);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: -0.2rem;
}
.inv-stats p:nth-child(3){
    font-weight: 400;
}
.search::placeholder{
    color: var(--title);
    font-weight: 600;
}
.search{
    border: none;
    font-size: 18px;
    width: 200px;
    background-color: transparent!important;
    border-radius: 10px;
    padding-left: 2rem;
}
.search-icon{
    color: var(--title);
    font-size: 21px;
    margin-right: -1.8rem;
    margin-bottom: 0.3rem;
    margin-left: 0.3rem;
}
.search:focus{
    outline: 2px solid #0663e6;
    color: var(--focus_subtitle);
}
.search:placeholder-shown{
    border: 1px solid var(--title);
}
@media(max-width: 360px){
    .movil-text{
        font-size: 15px;
    }
}
.filter-icon{
    font-size: 35px!important;
    color: var(--title)
}
.filter-togler{
    background-color: transparent!important;
    height: 45px;
    width: 75px;
    margin: 0!important;
    padding: 0!important;
    border: none!important;
}