
.table-margin {
    margin: 10px; 
  }

.btn-employee {
  margin-right: 30px;
  margin-top: 10px;
}
.pagination {
  margin-left: 20px;
}

.title-employees {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.trash-icon {
  color: red;
}

.h2-employees{
  margin-top: 14px;
}

.paginationBttns {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-bottom: -0.7rem!important;
}

.paginationBttns li {
  margin: 0 10px;
  margin-top: 0.3rem!important;
  margin: 0 !important;
  margin-right: 10px!important;
}
.paginationBttns li a{
  color: var(--title);
  text-decoration: none;
  font-weight: 700;
}

.paginate-butts {
  background-color: #ffffff;
  color: var(--title);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 0.3rem!important;
}

.active_pagination {
  margin: 0 !important;
  text-align: center;
  color: var(--title);
  height: 22px;
  border-bottom: 2px solid #0663e6;
}  